img{
  height: 150px;
  margin-top: -100px;
  margin-bottom: 40px;
}
.App {
  text-align: center;
  background-color: #F1E2FF;
}
.form{
  background-color: #ffffff;
  height: 400px;
  width: 600px;
  box-shadow: 5px 5px 20px #888888;
}
.text{
  color: black;
  font-size: 15px;
}

.textContainer{
  margin-top: 30px;
  margin-left: 140px;
  text-align: left;
}

.passwordContainer{
  margin-top: 15px;
  margin-left: 140px;
  text-align: left;
}

.inputContainer{
  margin-top: 4px;
  margin-left: 140px;
  text-align: left;
}
input{
  height: 30px;
  width: 300px;
  border: 1px solid #ccc; /* Define el margen de color gris claro */
  border-radius: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttonContainer{
  margin-top: 39px;
}

.buttonLogin {
  background: linear-gradient(to right, #A140FF, #00ADBF);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  height:36.5px;
}

.buttonLogin:hover {
  background: #000080;
}

.linkContainer{
  margin-top: 13px;
}

.textLink{
  color: #000080;
  font-size: 15px;
}
